In [6]:

import tarfile
import pandas as pd


with tarfile.open('datasets/yahoo/dataset.tgz', 'r:gz') as tar:
    tar.extractall(path='datasets/yahoo/')

In [7]:
df = pd.read_csv('datasets/yahoo/ydata-ysm-advertiser-bids-v1_0.txt.gz')

In [8]:
df.head()

   06/15/2002 00:00:00\t39\t691\t1.34\t0
0  06/15/2002 00:00:00\t40\t691\t1.16\t0
1   06/15/2002 00:00:00\t83\t691\t.85\t0
2  06/15/2002 00:00:00\t1\t741\t13.71\t0
3  06/15/2002 00:00:00\t1\t741\t13.73\t0
4  06/15/2002 00:00:00\t1\t741\t13.75\t0